.welcome {
  a {
    text-decoration: none;
  }
  .page-title {
    text-decoration: none;
    color: white;
    margin-left: 5px;
    font-size: 48px;
    font-style: italic;
  }
  .gif{
    img{
      width:70%;
      height:200px;
      margin-left: 10px;
    }
  }
} 
