.cb-movie-teaser {
  position: relative;
  .container {
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: lightblue;
    border-radius: 20px;
    max-width: 100%;
    width: 95%;
    margin: 30px auto;
    word-wrap: break-word;
    .c-title {
      span {
        font-size: 36px;
      }
    }
    .c-image {
      margin:20px;
      border-radius: 5px;

    }
    .c-button {
      position: absolute;
      right:20px;
      bottom:20px;
    }
  }

  .c-categories__taxonomy {
    margin-top: 50px;
  }

}

